# Archivos auxiliares de LaTeX 
*.aux
*.cls
*.sty
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.synctex.gz
*.nav
*.snm
*.vrb
*.lol
*.maf
*.mtc
*.mtc0
*.pdf

# Carpetas de sistema o de editor
.vscode/
.DS_Store

# Permitir PDFs solo en la carpeta de vista previa
!vista previa/*.pdf